In [1]:
import pandas as pd

In [4]:
a = pd.read_csv('수정.csv', encoding = 'euc_kr')
a

    Unnamed: 0 emd_nm  WiFi 접속자수   카드이용자수  자동차등록수  사업체수   총인구수    면수
0            0    건입동    1018933   763641    4279   750   9857   370
1            1    구좌읍     565136   952715    9161  1738  16283     4
2            2    노형동    4834174  4562480   59875  4476  56223  1587
3            3    도두동     141161   441864    9090   991   3257   897
4            4    봉개동     393438   362387    3873   269   4936   327
5            5   삼도1동     919731   614378   15174  1367  14345   151
6            6   삼도2동    1223869   795022    3530  1029   8662   618
7            7    삼양동     638591  1042792   12993  1000  25153   656
8            8    아라동    1552059  2301873   18729  2049  34321   821
9            9    애월읍     939748  2262602   22731  2514  36550    36
10          10     연동    3126565  4303620  167593  4649  43217   832
11          11    오라동     300518   854466   11943   978  14906   971
12          12    외도동     994026   944828   11724  1185  21741   514
13          13   용담1동     812415   300783    3257   805   7610    55
14          14   용담2동    1658664  3166510   20449  1113  15673   773
15          15    우도면     156445   320454    1254   305   1892    38
16          16   이도1동    1706470   651811    3063  1532   7989   592
17          17   이도2동    3076786  3887133   42987  5162  50137  1700
18          18    이호동     114543   269222    5412   281   4654   804
19          19   일도1동    1054688   661113    1024  1326   2993   486
20          20   일도2동    2563285  1787553   14893  2210  34684   690
21          21    조천읍    1677427  1589216   14437  1873  24718   175
22          22    추자면          0    46687     825   214   2149     0
23          23    한경면     296704   376558    5838   720   9447     0
24          24    한림읍     450801  1377325   12596  2174  25003    53
25          25    화북동    1346005  1025585   14582  1546  25391   324

In [5]:
a = a.drop(['Unnamed: 0'], axis = 1)
a

   emd_nm  WiFi 접속자수   카드이용자수  자동차등록수  사업체수   총인구수    면수
0     건입동    1018933   763641    4279   750   9857   370
1     구좌읍     565136   952715    9161  1738  16283     4
2     노형동    4834174  4562480   59875  4476  56223  1587
3     도두동     141161   441864    9090   991   3257   897
4     봉개동     393438   362387    3873   269   4936   327
5    삼도1동     919731   614378   15174  1367  14345   151
6    삼도2동    1223869   795022    3530  1029   8662   618
7     삼양동     638591  1042792   12993  1000  25153   656
8     아라동    1552059  2301873   18729  2049  34321   821
9     애월읍     939748  2262602   22731  2514  36550    36
10     연동    3126565  4303620  167593  4649  43217   832
11    오라동     300518   854466   11943   978  14906   971
12    외도동     994026   944828   11724  1185  21741   514
13   용담1동     812415   300783    3257   805   7610    55
14   용담2동    1658664  3166510   20449  1113  15673   773
15    우도면     156445   320454    1254   305   1892    38
16   이도1동    1706470   651811    3063  1532   7989   592
17   이도2동    3076786  3887133   42987  5162  50137  1700
18    이호동     114543   269222    5412   281   4654   804
19   일도1동    1054688   661113    1024  1326   2993   486
20   일도2동    2563285  1787553   14893  2210  34684   690
21    조천읍    1677427  1589216   14437  1873  24718   175
22    추자면          0    46687     825   214   2149     0
23    한경면     296704   376558    5838   720   9447     0
24    한림읍     450801  1377325   12596  2174  25003    53
25    화북동    1346005  1025585   14582  1546  25391   324

In [11]:
a.sort_values(['카드이용자수'], ascending = False)

   emd_nm  WiFi 접속자수   카드이용자수  자동차등록수  사업체수   총인구수    면수
2     노형동    4834174  4562480   59875  4476  56223  1587
10     연동    3126565  4303620  167593  4649  43217   832
17   이도2동    3076786  3887133   42987  5162  50137  1700
14   용담2동    1658664  3166510   20449  1113  15673   773
8     아라동    1552059  2301873   18729  2049  34321   821
9     애월읍     939748  2262602   22731  2514  36550    36
20   일도2동    2563285  1787553   14893  2210  34684   690
21    조천읍    1677427  1589216   14437  1873  24718   175
24    한림읍     450801  1377325   12596  2174  25003    53
7     삼양동     638591  1042792   12993  1000  25153   656
25    화북동    1346005  1025585   14582  1546  25391   324
1     구좌읍     565136   952715    9161  1738  16283     4
12    외도동     994026   944828   11724  1185  21741   514
11    오라동     300518   854466   11943   978  14906   971
6    삼도2동    1223869   795022    3530  1029   8662   618
0     건입동    1018933   763641    4279   750   9857   370
19   일도1동    1054688   661113    1024  1326   2993   486
16   이도1동    1706470   651811    3063  1532   7989   592
5    삼도1동     919731   614378   15174  1367  14345   151
3     도두동     141161   441864    9090   991   3257   897
23    한경면     296704   376558    5838   720   9447     0
4     봉개동     393438   362387    3873   269   4936   327
15    우도면     156445   320454    1254   305   1892    38
13   용담1동     812415   300783    3257   805   7610    55
18    이호동     114543   269222    5412   281   4654   804
22    추자면          0    46687     825   214   2149     0

In [13]:
import pandas as pd
from scipy import stats
from numpy import mean

In [14]:
mean(a['카드이용자수'])

1371639.1538461538

In [16]:
result = stats.ttest_1samp(a['카드이용자수'], 1371639)

In [18]:
result

Ttest_1sampResult(statistic=6.091989822348685e-07, pvalue=0.9999995187647387)