# 라이브러리

In [1]:
import pandas as pd

# 종합데이터 불러오기

In [2]:
종합 = pd.read_excel('종합.xlsx')
종합

,읍면동,WiFi 접속자수,카드이용자수,자동차등록수,사업체수,총인구수,면수,유동인구,교통량,버스탑승자수(1월),버스탑승자수(8월)
0,건입동,1018933,763641,4279,750,9857,370,NaN,NaN,49873,59935
1,구좌읍,565136,952715,9161,1738,16283,4,NaN,NaN,74276,86702
2,노형동,4834174,4562480,59875,4476,56223,1587,NaN,NaN,294504,347773
3,도두동,141161,441864,9090,991,3257,897,NaN,NaN,11652,13320
4,봉개동,393438,362387,3873,269,4936,327,NaN,NaN,39894,46926
5,삼도1동,919731,614378,15174,1367,14345,151,NaN,NaN,68603,74856
6,삼도2동,1223869,795022,3530,1029,8662,618,NaN,NaN,58766,56328
7,삼양동,638591,1042792,12993,1000,25153,656,NaN,NaN,64546,73562
8,아라동,1552059,2301873,18729,2049,34321,821,NaN,NaN,257359,287963
9,애월읍,939748,2262602,22731,2514,36550,36,NaN,NaN,154435,182420
10,연동,3126565,4303620,167593,4649,43217,832,NaN,NaN,323164,374299
11,오라동,300518,854466,11943,978,14906,971,NaN,NaN,176387,199364
12,외도동,994026,944828,11724,1185,21741,514,NaN,NaN,60016,65909
13,용담1동,812415,300783,3257,805,7610,55,NaN,NaN,61064,71839
14,용담2동,1658664,3166510,20449,1113,15673,773,NaN,NaN,239049,261995
15,우도면,156445,320454,1254,305,1892,38,NaN,NaN,2147,3583
16,이도1동,1706470,651811,3063,1532,7989,592,NaN,NaN,174604,165156
17,이도2동,3076786,3887133,42987,5162,50137,1700,NaN,NaN,368820,406444
18,이호동,114543,269222,5412,281,4654,804,NaN,NaN,19807,24356
19,일도1동,1054688,661113,1024,1326,2993,486,NaN,NaN,45907,74985
20,일도2동,2563285,1787553,14893,2210,34684,690,NaN,NaN,146960,164805
21,조천읍,1677427,1589216,14437,1873,24718,175,NaN,NaN,121781,149827
22,추자면,0,46687,825,214,2149,0,NaN,NaN,4353,4827
23,한경면,296704,376558,5838,720,9447,0,NaN,NaN,21427,24410
24,한림읍,450801,1377325,12596,2174,25003,53,NaN,NaN,72144,88902
25,화북동,1346005,1025585,14582,1546,25391,324,NaN,NaN,142901,156592

# 유동인구

## 유동인구 1월

In [25]:
유동인구_1월 = pd.read_csv('유동인구_1월.csv', encoding = 'euc_kr')
유동인구_1월.drop(['time', 'age', 'resd_pop_cnt', 'base_date'], axis = 1, inplace = True)
유동인구_1월 = round(유동인구_1월.groupby(['emd_nm']).sum())
유동인구_1월.rename(columns = {'visit_pop_cnt' : '1월방문객수'}, inplace = True)
유동인구_1월

              1월방문객수
emd_nm
제주시 건입동    4182419.0
제주시 구좌읍    4630025.0
제주시 노형동   13591022.0
제주시 도두동    2348270.0
제주시 봉개동    2505919.0
제주시 삼도1동   4028351.0
제주시 삼도2동   3781787.0
제주시 삼양동    3318351.0
제주시 아라동    8063504.0
제주시 애월읍   13767779.0
제주시 연동    14829542.0
제주시 오라동    8031746.0
제주시 외도동    3220686.0
제주시 용담1동   2671214.0
제주시 용담2동   8051210.0
제주시 우도면     769013.0
제주시 이도1동   5133290.0
제주시 이도2동  17075025.0
제주시 이호동    1927025.0
제주시 일도1동   1800222.0
제주시 일도2동   7036432.0
제주시 조천읍    7531975.0
제주시 추자면     945578.0
제주시 한경면    2019959.0
제주시 한림읍    5602212.0
제주시 화북동    5632711.0

## 유동인구 8월

In [4]:
유동인구_8월 = pd.read_csv('유동인구_8월.csv', encoding = 'euc_kr')
유동인구_8월.drop(['time', 'age', 'resd_pop_cnt', 'base_date'], axis = 1, inplace = True)
유동인구_8월 = round(유동인구_8월.groupby(['emd_nm']).sum())
유동인구_8월.rename(columns = {'visit_pop_cnt' : '8월방문객수'}, inplace = True)
유동인구_8월

              8월방문객수
emd_nm
제주시 건입동    4615997.0
제주시 구좌읍    6893152.0
제주시 노형동   14025682.0
제주시 도두동    2507425.0
제주시 봉개동    3458322.0
제주시 삼도1동   3826244.0
제주시 삼도2동   3783072.0
제주시 삼양동    3292408.0
제주시 아라동    9037743.0
제주시 애월읍   16535579.0
제주시 연동    14324588.0
제주시 오라동    7708228.0
제주시 외도동    3044436.0
제주시 용담1동   2665650.0
제주시 용담2동   9577198.0
제주시 우도면    1145834.0
제주시 이도1동   5919458.0
제주시 이도2동  15492445.0
제주시 이호동    2347766.0
제주시 일도1동   1823867.0
제주시 일도2동   6513383.0
제주시 조천읍    9914494.0
제주시 추자면     977335.0
제주시 한경면    2586402.0
제주시 한림읍    7805394.0
제주시 화북동    5791551.0

## 유동인구 데이터

In [5]:
유동인구 = pd.concat([유동인구_1월, 유동인구_8월], axis = 1)
유동인구 = 유동인구.reset_index()
유동인구

      emd_nm      1월방문객수      8월방문객수
0    제주시 건입동   4182419.0   4615997.0
1    제주시 구좌읍   4630025.0   6893152.0
2    제주시 노형동  13591022.0  14025682.0
3    제주시 도두동   2348270.0   2507425.0
4    제주시 봉개동   2505919.0   3458322.0
5   제주시 삼도1동   4028351.0   3826244.0
6   제주시 삼도2동   3781787.0   3783072.0
7    제주시 삼양동   3318351.0   3292408.0
8    제주시 아라동   8063504.0   9037743.0
9    제주시 애월읍  13767779.0  16535579.0
10    제주시 연동  14829542.0  14324588.0
11   제주시 오라동   8031746.0   7708228.0
12   제주시 외도동   3220686.0   3044436.0
13  제주시 용담1동   2671214.0   2665650.0
14  제주시 용담2동   8051210.0   9577198.0
15   제주시 우도면    769013.0   1145834.0
16  제주시 이도1동   5133290.0   5919458.0
17  제주시 이도2동  17075025.0  15492445.0
18   제주시 이호동   1927025.0   2347766.0
19  제주시 일도1동   1800222.0   1823867.0
20  제주시 일도2동   7036432.0   6513383.0
21   제주시 조천읍   7531975.0   9914494.0
22   제주시 추자면    945578.0    977335.0
23   제주시 한경면   2019959.0   2586402.0
24   제주시 한림읍   5602212.0   7805394.0
25   제주시 화북동   5632711.0   5791551.0

### emd_nm에서 제주시 빼기

In [6]:
a=유동인구['emd_nm'].str.split(" ")
유동인구['emd_nm']=a.str[1]
유동인구

   emd_nm      1월방문객수      8월방문객수
0     건입동   4182419.0   4615997.0
1     구좌읍   4630025.0   6893152.0
2     노형동  13591022.0  14025682.0
3     도두동   2348270.0   2507425.0
4     봉개동   2505919.0   3458322.0
5    삼도1동   4028351.0   3826244.0
6    삼도2동   3781787.0   3783072.0
7     삼양동   3318351.0   3292408.0
8     아라동   8063504.0   9037743.0
9     애월읍  13767779.0  16535579.0
10     연동  14829542.0  14324588.0
11    오라동   8031746.0   7708228.0
12    외도동   3220686.0   3044436.0
13   용담1동   2671214.0   2665650.0
14   용담2동   8051210.0   9577198.0
15    우도면    769013.0   1145834.0
16   이도1동   5133290.0   5919458.0
17   이도2동  17075025.0  15492445.0
18    이호동   1927025.0   2347766.0
19   일도1동   1800222.0   1823867.0
20   일도2동   7036432.0   6513383.0
21    조천읍   7531975.0   9914494.0
22    추자면    945578.0    977335.0
23    한경면   2019959.0   2586402.0
24    한림읍   5602212.0   7805394.0
25    화북동   5632711.0   5791551.0

## 평균 유동인구 구하기

In [7]:
유동인구['mean_유동인구'] = ((유동인구['1월방문객수']+유동인구['8월방문객수'])/2)*12
유동인구.set_index(['emd_nm'], inplace = True)
유동인구

            1월방문객수      8월방문객수    mean_유동인구
emd_nm
건입동      4182419.0   4615997.0   52790496.0
구좌읍      4630025.0   6893152.0   69139062.0
노형동     13591022.0  14025682.0  165700224.0
도두동      2348270.0   2507425.0   29134170.0
봉개동      2505919.0   3458322.0   35785446.0
삼도1동     4028351.0   3826244.0   47127570.0
삼도2동     3781787.0   3783072.0   45389154.0
삼양동      3318351.0   3292408.0   39664554.0
아라동      8063504.0   9037743.0  102607482.0
애월읍     13767779.0  16535579.0  181820148.0
연동      14829542.0  14324588.0  174924780.0
오라동      8031746.0   7708228.0   94439844.0
외도동      3220686.0   3044436.0   37590732.0
용담1동     2671214.0   2665650.0   32021184.0
용담2동     8051210.0   9577198.0  105770448.0
우도면       769013.0   1145834.0   11489082.0
이도1동     5133290.0   5919458.0   66316488.0
이도2동    17075025.0  15492445.0  195404820.0
이호동      1927025.0   2347766.0   25648746.0
일도1동     1800222.0   1823867.0   21744534.0
일도2동     7036432.0   6513383.0   81298890.0
조천읍      7531975.0   9914494.0  104678814.0
추자면       945578.0    977335.0   11537478.0
한경면      2019959.0   2586402.0   27638166.0
한림읍      5602212.0   7805394.0   80445636.0
화북동      5632711.0   5791551.0   68545572.0

# 버스탑승자수

In [8]:
종합.rename(columns = {'읍면동' : 'emd_nm'}, inplace = True)
종합.set_index(['emd_nm'], inplace = True)
버스탑승자수 = 종합.iloc[:,-2:]
버스탑승자수

        버스탑승자수(1월)  버스탑승자수(8월)
emd_nm
건입동          49873       59935
구좌읍          74276       86702
노형동         294504      347773
도두동          11652       13320
봉개동          39894       46926
삼도1동         68603       74856
삼도2동         58766       56328
삼양동          64546       73562
아라동         257359      287963
애월읍         154435      182420
연동          323164      374299
오라동         176387      199364
외도동          60016       65909
용담1동         61064       71839
용담2동        239049      261995
우도면           2147        3583
이도1동        174604      165156
이도2동        368820      406444
이호동          19807       24356
일도1동         45907       74985
일도2동        146960      164805
조천읍         121781      149827
추자면           4353        4827
한경면          21427       24410
한림읍          72144       88902
화북동         142901      156592

### 평균 버스 탑승자수

In [9]:
버스탑승자수['mean_bus'] = ((버스탑승자수['버스탑승자수(1월)']+버스탑승자수['버스탑승자수(8월)'])/2)*12
버스탑승자수

        버스탑승자수(1월)  버스탑승자수(8월)   mean_bus
emd_nm
건입동          49873       59935   658848.0
구좌읍          74276       86702   965868.0
노형동         294504      347773  3853662.0
도두동          11652       13320   149832.0
봉개동          39894       46926   520920.0
삼도1동         68603       74856   860754.0
삼도2동         58766       56328   690564.0
삼양동          64546       73562   828648.0
아라동         257359      287963  3271932.0
애월읍         154435      182420  2021130.0
연동          323164      374299  4184778.0
오라동         176387      199364  2254506.0
외도동          60016       65909   755550.0
용담1동         61064       71839   797418.0
용담2동        239049      261995  3006264.0
우도면           2147        3583    34380.0
이도1동        174604      165156  2038560.0
이도2동        368820      406444  4651584.0
이호동          19807       24356   264978.0
일도1동         45907       74985   725352.0
일도2동        146960      164805  1870590.0
조천읍         121781      149827  1629648.0
추자면           4353        4827    55080.0
한경면          21427       24410   275022.0
한림읍          72144       88902   966276.0
화북동         142901      156592  1796958.0

# 주차수요량

In [10]:
주차수요량 = 유동인구['mean_유동인구']-버스탑승자수['mean_bus']
주차수요량 = pd.DataFrame(주차수요량, columns = ['주차수요량'])
주차수요량

              주차수요량
emd_nm
건입동      52131648.0
구좌읍      68173194.0
노형동     161846562.0
도두동      28984338.0
봉개동      35264526.0
삼도1동     46266816.0
삼도2동     44698590.0
삼양동      38835906.0
아라동      99335550.0
애월읍     179799018.0
연동      170740002.0
오라동      92185338.0
외도동      36835182.0
용담1동     31223766.0
용담2동    102764184.0
우도면      11454702.0
이도1동     64277928.0
이도2동    190753236.0
이호동      25383768.0
일도1동     21019182.0
일도2동     79428300.0
조천읍     103049166.0
추자면      11482398.0
한경면      27363144.0
한림읍      79479360.0
화북동      66748614.0

# 데이터 합치기

In [11]:
df = pd.concat([종합, 버스탑승자수['mean_bus'], 유동인구, 주차수요량], axis = 1)
df.drop(['유동인구', '교통량'], axis = 1, inplace = True)
df

,WiFi 접속자수,카드이용자수,자동차등록수,사업체수,총인구수,면수,버스탑승자수(1월),버스탑승자수(8월),mean_bus,1월방문객수,8월방문객수,mean_유동인구,주차수요량
emd_nm,,,,,,,,,,,,,
건입동,1018933,763641,4279,750,9857,370,49873,59935,658848.0,4182419.0,4615997.0,52790496.0,52131648.0
구좌읍,565136,952715,9161,1738,16283,4,74276,86702,965868.0,4630025.0,6893152.0,69139062.0,68173194.0
노형동,4834174,4562480,59875,4476,56223,1587,294504,347773,3853662.0,13591022.0,14025682.0,165700224.0,161846562.0
도두동,141161,441864,9090,991,3257,897,11652,13320,149832.0,2348270.0,2507425.0,29134170.0,28984338.0
봉개동,393438,362387,3873,269,4936,327,39894,46926,520920.0,2505919.0,3458322.0,35785446.0,35264526.0
삼도1동,919731,614378,15174,1367,14345,151,68603,74856,860754.0,4028351.0,3826244.0,47127570.0,46266816.0
삼도2동,1223869,795022,3530,1029,8662,618,58766,56328,690564.0,3781787.0,3783072.0,45389154.0,44698590.0
삼양동,638591,1042792,12993,1000,25153,656,64546,73562,828648.0,3318351.0,3292408.0,39664554.0,38835906.0
아라동,1552059,2301873,18729,2049,34321,821,257359,287963,3271932.0,8063504.0,9037743.0,102607482.0,99335550.0
애월읍,939748,2262602,22731,2514,36550,36,154435,182420,2021130.0,13767779.0,16535579.0,181820148.0,179799018.0
연동,3126565,4303620,167593,4649,43217,832,323164,374299,4184778.0,14829542.0,14324588.0,174924780.0,170740002.0
오라동,300518,854466,11943,978,14906,971,176387,199364,2254506.0,8031746.0,7708228.0,94439844.0,92185338.0
외도동,994026,944828,11724,1185,21741,514,60016,65909,755550.0,3220686.0,3044436.0,37590732.0,36835182.0
용담1동,812415,300783,3257,805,7610,55,61064,71839,797418.0,2671214.0,2665650.0,32021184.0,31223766.0
용담2동,1658664,3166510,20449,1113,15673,773,239049,261995,3006264.0,8051210.0,9577198.0,105770448.0,102764184.0
우도면,156445,320454,1254,305,1892,38,2147,3583,34380.0,769013.0,1145834.0,11489082.0,11454702.0
이도1동,1706470,651811,3063,1532,7989,592,174604,165156,2038560.0,5133290.0,5919458.0,66316488.0,64277928.0
이도2동,3076786,3887133,42987,5162,50137,1700,368820,406444,4651584.0,17075025.0,15492445.0,195404820.0,190753236.0
이호동,114543,269222,5412,281,4654,804,19807,24356,264978.0,1927025.0,2347766.0,25648746.0,25383768.0
일도1동,1054688,661113,1024,1326,2993,486,45907,74985,725352.0,1800222.0,1823867.0,21744534.0,21019182.0
일도2동,2563285,1787553,14893,2210,34684,690,146960,164805,1870590.0,7036432.0,6513383.0,81298890.0,79428300.0
조천읍,1677427,1589216,14437,1873,24718,175,121781,149827,1629648.0,7531975.0,9914494.0,104678814.0,103049166.0
추자면,0,46687,825,214,2149,0,4353,4827,55080.0,945578.0,977335.0,11537478.0,11482398.0
한경면,296704,376558,5838,720,9447,0,21427,24410,275022.0,2019959.0,2586402.0,27638166.0,27363144.0
한림읍,450801,1377325,12596,2174,25003,53,72144,88902,966276.0,5602212.0,7805394.0,80445636.0,79479360.0
화북동,1346005,1025585,14582,1546,25391,324,142901,156592,1796958.0,5632711.0,5791551.0,68545572.0,66748614.0

In [12]:
df.to_csv('주차수요량.csv', encoding = 'euc_kr')

In [14]:
df2 = df.reset_index()
df2 = df2.loc[:, ['emd_nm', '주차수요량', 'WiFi 접속자수', '카드이용자수', '자동차등록수', '사업체수', '총인구수', '면수']]
df2

   emd_nm        주차수요량  WiFi 접속자수   카드이용자수  자동차등록수  사업체수   총인구수    면수
0     건입동   52131648.0    1018933   763641    4279   750   9857   370
1     구좌읍   68173194.0     565136   952715    9161  1738  16283     4
2     노형동  161846562.0    4834174  4562480   59875  4476  56223  1587
3     도두동   28984338.0     141161   441864    9090   991   3257   897
4     봉개동   35264526.0     393438   362387    3873   269   4936   327
5    삼도1동   46266816.0     919731   614378   15174  1367  14345   151
6    삼도2동   44698590.0    1223869   795022    3530  1029   8662   618
7     삼양동   38835906.0     638591  1042792   12993  1000  25153   656
8     아라동   99335550.0    1552059  2301873   18729  2049  34321   821
9     애월읍  179799018.0     939748  2262602   22731  2514  36550    36
10     연동  170740002.0    3126565  4303620  167593  4649  43217   832
11    오라동   92185338.0     300518   854466   11943   978  14906   971
12    외도동   36835182.0     994026   944828   11724  1185  21741   514
13   용담1동   31223766.0     812415   300783    3257   805   7610    55
14   용담2동  102764184.0    1658664  3166510   20449  1113  15673   773
15    우도면   11454702.0     156445   320454    1254   305   1892    38
16   이도1동   64277928.0    1706470   651811    3063  1532   7989   592
17   이도2동  190753236.0    3076786  3887133   42987  5162  50137  1700
18    이호동   25383768.0     114543   269222    5412   281   4654   804
19   일도1동   21019182.0    1054688   661113    1024  1326   2993   486
20   일도2동   79428300.0    2563285  1787553   14893  2210  34684   690
21    조천읍  103049166.0    1677427  1589216   14437  1873  24718   175
22    추자면   11482398.0          0    46687     825   214   2149     0
23    한경면   27363144.0     296704   376558    5838   720   9447     0
24    한림읍   79479360.0     450801  1377325   12596  2174  25003    53
25    화북동   66748614.0    1346005  1025585   14582  1546  25391   324

In [19]:
df2['2인가구'] = round(df2['주차수요량']/2)
df2['3인가구'] = round(df2['주차수요량']/3)
df2['4인가구'] = round(df2['주차수요량']/4)
df2['5인가구'] = round(df2['주차수요량']/5)
df2.rename(columns = {'주차수요량' : '1인가구'}, inplace = True)

In [20]:
df3 = df2.loc[:, ['emd_nm', '1인가구', '2인가구', '3인가구', '4인가구', '5인가구',
            'WiFi 접속자수', '카드이용자수', '자동차등록수', '사업체수', '총인구수', '면수']]
df3

,emd_nm,1인가구,2인가구,3인가구,4인가구,5인가구,WiFi 접속자수,카드이용자수,자동차등록수,사업체수,총인구수,면수
0,건입동,52131648.0,26065824.0,17377216.0,13032912.0,10426330.0,1018933,763641,4279,750,9857,370
1,구좌읍,68173194.0,34086597.0,22724398.0,17043298.0,13634639.0,565136,952715,9161,1738,16283,4
2,노형동,161846562.0,80923281.0,53948854.0,40461640.0,32369312.0,4834174,4562480,59875,4476,56223,1587
3,도두동,28984338.0,14492169.0,9661446.0,7246084.0,5796868.0,141161,441864,9090,991,3257,897
4,봉개동,35264526.0,17632263.0,11754842.0,8816132.0,7052905.0,393438,362387,3873,269,4936,327
5,삼도1동,46266816.0,23133408.0,15422272.0,11566704.0,9253363.0,919731,614378,15174,1367,14345,151
6,삼도2동,44698590.0,22349295.0,14899530.0,11174648.0,8939718.0,1223869,795022,3530,1029,8662,618
7,삼양동,38835906.0,19417953.0,12945302.0,9708976.0,7767181.0,638591,1042792,12993,1000,25153,656
8,아라동,99335550.0,49667775.0,33111850.0,24833888.0,19867110.0,1552059,2301873,18729,2049,34321,821
9,애월읍,179799018.0,89899509.0,59933006.0,44949754.0,35959804.0,939748,2262602,22731,2514,36550,36
10,연동,170740002.0,85370001.0,56913334.0,42685000.0,34148000.0,3126565,4303620,167593,4649,43217,832
11,오라동,92185338.0,46092669.0,30728446.0,23046334.0,18437068.0,300518,854466,11943,978,14906,971
12,외도동,36835182.0,18417591.0,12278394.0,9208796.0,7367036.0,994026,944828,11724,1185,21741,514
13,용담1동,31223766.0,15611883.0,10407922.0,7805942.0,6244753.0,812415,300783,3257,805,7610,55
14,용담2동,102764184.0,51382092.0,34254728.0,25691046.0,20552837.0,1658664,3166510,20449,1113,15673,773
15,우도면,11454702.0,5727351.0,3818234.0,2863676.0,2290940.0,156445,320454,1254,305,1892,38
16,이도1동,64277928.0,32138964.0,21425976.0,16069482.0,12855586.0,1706470,651811,3063,1532,7989,592
17,이도2동,190753236.0,95376618.0,63584412.0,47688309.0,38150647.0,3076786,3887133,42987,5162,50137,1700
18,이호동,25383768.0,12691884.0,8461256.0,6345942.0,5076754.0,114543,269222,5412,281,4654,804
19,일도1동,21019182.0,10509591.0,7006394.0,5254796.0,4203836.0,1054688,661113,1024,1326,2993,486
20,일도2동,79428300.0,39714150.0,26476100.0,19857075.0,15885660.0,2563285,1787553,14893,2210,34684,690
21,조천읍,103049166.0,51524583.0,34349722.0,25762292.0,20609833.0,1677427,1589216,14437,1873,24718,175
22,추자면,11482398.0,5741199.0,3827466.0,2870600.0,2296480.0,0,46687,825,214,2149,0
23,한경면,27363144.0,13681572.0,9121048.0,6840786.0,5472629.0,296704,376558,5838,720,9447,0
24,한림읍,79479360.0,39739680.0,26493120.0,19869840.0,15895872.0,450801,1377325,12596,2174,25003,53
25,화북동,66748614.0,33374307.0,22249538.0,16687154.0,13349723.0,1346005,1025585,14582,1546,25391,324

In [21]:
df3.to_csv('가구분류.csv', encoding = 'euc_kr')