In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('수정.csv', encoding = 'euc_kr')
df

   emd_nm  WiFi 접속자수   카드이용자수  자동차등록수  사업체수   총인구수    면수
0     건입동    1018933   763641    4279   750   9857   370
1     노형동    4834174  4562480   59875  4476  56223  1587
2     도두동     141161   441864    9090   991   3257   897
3     봉개동     393438   362387    3873   269   4936   327
4    삼도1동     919731   614378   15174  1367  14345   151
5    삼도2동    1223869   795022    3530  1029   8662   618
6     삼양동     638591  1042792   12993  1000  25153   656
7     아라동    1552059  2301873   18729  2049  34321   821
8      연동    3126565  4303620  167593  4649  43217   832
9     오라동     300518   854466   11943   978  14906   971
10    외도동     994026   944828   11724  1185  21741   514
11   용담1동     812415   300783    3257   805   7610    55
12   용담2동    1658664  3166510   20449  1113  15673   773
13   이도1동    1706470   651811    3063  1532   7989   592
14   이도2동    3076786  3887133   42987  5162  50137  1700
15    이호동     114543   269222    5412   281   4654   804
16   일도1동    1054688   661113    1024  1326   2993   486
17   일도2동    2563285  1787553   14893  2210  34684   690
18    화북동    1346005  1025585   14582  1546  25391   324

In [10]:
df['차량수요량'] = round(df['카드이용자수']/4)
df

   emd_nm  WiFi 접속자수   카드이용자수  자동차등록수  사업체수   총인구수    면수      차량수요량
0     건입동    1018933   763641    4279   750   9857   370   190910.0
1     노형동    4834174  4562480   59875  4476  56223  1587  1140620.0
2     도두동     141161   441864    9090   991   3257   897   110466.0
3     봉개동     393438   362387    3873   269   4936   327    90597.0
4    삼도1동     919731   614378   15174  1367  14345   151   153594.0
5    삼도2동    1223869   795022    3530  1029   8662   618   198756.0
6     삼양동     638591  1042792   12993  1000  25153   656   260698.0
7     아라동    1552059  2301873   18729  2049  34321   821   575468.0
8      연동    3126565  4303620  167593  4649  43217   832  1075905.0
9     오라동     300518   854466   11943   978  14906   971   213616.0
10    외도동     994026   944828   11724  1185  21741   514   236207.0
11   용담1동     812415   300783    3257   805   7610    55    75196.0
12   용담2동    1658664  3166510   20449  1113  15673   773   791628.0
13   이도1동    1706470   651811    3063  1532   7989   592   162953.0
14   이도2동    3076786  3887133   42987  5162  50137  1700   971783.0
15    이호동     114543   269222    5412   281   4654   804    67306.0
16   일도1동    1054688   661113    1024  1326   2993   486   165278.0
17   일도2동    2563285  1787553   14893  2210  34684   690   446888.0
18    화북동    1346005  1025585   14582  1546  25391   324   256396.0

In [11]:
df.corr()

,WiFi 접속자수,카드이용자수,자동차등록수,사업체수,총인구수,면수,차량수요량
WiFi 접속자수,1.000000,0.882759,0.618685,0.890325,0.861309,0.619948,0.882759
카드이용자수,0.882759,1.000000,0.750651,0.889732,0.874281,0.724025,1.000000
자동차등록수,0.618685,0.750651,1.000000,0.750085,0.635942,0.376449,0.750651
사업체수,0.890325,0.889732,0.750085,1.000000,0.890857,0.715657,0.889732
총인구수,0.861309,0.874281,0.635942,0.890857,1.000000,0.675164,0.874280
면수,0.619948,0.724025,0.376449,0.715657,0.675164,1.000000,0.724025
차량수요량,0.882759,1.000000,0.750651,0.889732,0.874280,0.724025,1.000000

In [13]:
df.to_csv('df.csv', encoding = 'euc_kr')